$font-stack: Georgia, 'Times New Roman', Times, serif;
$color-no1: #E2495B;
$color-no2: #C4BA3B;
$color-no3: #F4ED6E;
$color-no4: #FFFEE6;

.nice-color {
    background-color: $color-no4;
}

.h2 {
    font-family: $font-stack;
}